<div class="container">
  <div class="row">
    <div class="input">
      <input
        class="form-control"
        type="text"
        placeholder="Enter username"
        [(ngModel)]="username"
      />
    </div>
    <div class="input">
      <input
        class="form-control"
        type="password"
        placeholder="Enter password"
        [(ngModel)]="password"
      />
    </div>
    <div class="button">
      <button (click)="handleClick()" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
